.highLightMark:before {
    background-color: #dbeafe;
    z-index: -1;
    bottom: 0;
    left: 0;
    display: block;
    position: absolute;
    content: "";
    right: 100%;
    top: 50%;
    border: 0 solid transparent;
    box-sizing: border-box;
    width: 100%;
  }
  
  .highLightMark {
    background-color: transparent;
    display: inline-block;
    position: relative;
    color: #1e40af;
  }
  
  @media (prefers-color-scheme: dark) {
    .highLightMark {
      color: #bfdbfe;
    }
    .highLightMark:before {
      background-color: #1e3a8a;
    }
  }